
@media only screen and (min-width:300px) {
    /* For mobile: */
    .caption-div {
        background: #000000bd;
        padding: 15px;
        border-radius: 15px; 
        margin: 10px;
    }
    .logo{
        width: 110px !important;
        margin-left: 0px !important;
        margin-top: 15px !important; 
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .caption-div {
        background: #000000bd;
        padding: 15px;
        border-radius: 15px; 
    }

    .logo{
        width: 150px !important;
        margin-left: 15px !important;
    }
}

 .course-image{
    height: 200px;
    border-radius: 15px;
    background-size: cover;
 }

.make-your-order{
    display: flex;
    align-items: center;
}

.make-your-order-text{
    padding: 0px !important;
    margin: 0px 0px 0px 20px !important;
}

.item-description {
    font-size: medium;
    font-family: system-ui;
    height: 90px;
    margin-left: 10px;
    margin-right: 10px;
}