
@media only screen and (min-width:300px) {
    /* For mobile: */
    .caption-div {
        background: #000000bd;
        padding: 15px;
        border-radius: 15px; 
        box-shadow: #000000 0px 0px 15px 2px;
        margin: 10px;
    }
    .logo{
        width: 110px !important;
        margin-left: 0px !important;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .caption-div {
        background: #000000bd;
        padding: 15px;
        border-radius: 15px; 
        box-shadow: #000000 0px 0px 15px 2px;
    }

    .logo{
        width: 150px !important;
        margin-left: 0px !important;
    }

    .logo-div {
        margin-left: 15px;
    }
}

 .course-image{
    height: 200px;
    
 }

.make-your-order{
    display: flex;
    align-items: center;
}

.make-your-order-text{
    padding: 0px !important;
    margin: 0px 0px 0px 20px !important;
}

